.menu-folder {
  cursor: pointer;
  user-select: none;
  padding: 4px 8px;
  border-radius: 4px;
}

.menu-file {
  cursor: default;
  padding: 4px 8px;
}

.menu-icon {
  width: 18px;
  height: 18px;
  margin-right: 6px;
}
